#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Toggl 1
Exec=sh -c "/opt/google/chrome/google-chrome --profile-directory='Profile 1' --class='Toggl 1' --app='https://track.toggl.com/'"
Icon=web-browser
