#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Meet 2
Exec=sh -c "/opt/google/chrome/google-chrome --profile-directory='Profile 2' --class='Meet 2' --app='https://meet.google.com/'"
Icon=web-browser
