#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Exec=sh -c "/opt/google/chrome/google-chrome --profile-directory='Profile 3' --class='ChatGPT' --app='https://chatgpt.com'"
Icon=web-browser
