#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Claude
Exec=sh -c "/opt/google/chrome/google-chrome --profile-directory='Profile 1' --class='Claude' --app='https://claude.ai'"
Icon=web-browser
