[Desktop Entry]
Name=Dev Localhost
Comment=Open localhost:3000 in firefox
Exec=firefox http://localhost:3000
Icon=applications-development
Type=Application
Categories=Development;
Keywords=dev;localhost;development;
