[Desktop Entry]
Name=Spotify (Wayland)
Exec=/home/jack/.config/scripts/spotify-wayland.sh
Icon=spotify
Type=Application
Categories=Audio;Music;Player;AudioVideo;
Comment=Spotify with Wayland scaling fix!
