[Desktop Entry]
Name=Tandem
Comment=Open tandem email in firefox
Exec=firefox https://mail.google.com/mail/u/3/#inbox
Icon=applications-internet
Type=Application
Categories=Network;WebBrowser;
Keywords=email;fac;
