@define-color foreground {foreground};
@define-color background {background};
@define-color cursor {cursor};

@define-color color0 {color0};
@define-color color1 {color1};
@define-color color2 {color2};
@define-color color3 {color3};
@define-color color4 {color4};
@define-color color5 {color5};
@define-color color6 {color6};
@define-color color7 {color7};
@define-color color8 {color8};
@define-color color9 {color9};
@define-color color10 {color10};
@define-color color11 {color11};
@define-color color12 {color12};
@define-color color13 {color13};
@define-color color14 {color14};
@define-color color15 {color15};

/* Waybar module styling using pywal colors */
#clock,
#battery,
#cpu,
#bluetooth,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#keyboard-state,
#mpd {{
  background-color: @color0;
  color: @foreground;
}}

#workspaces {{
  background-color: @color8;
}}

#workspaces button {{
  color: @foreground;
}}

#workspaces button.focused {{
  background-color: @color4;
}}

#workspaces button.active {{
  background-color: @color4;
}}

#clock {{
  border: @color4 2px solid;
  
}}

#workspaces button:hover {{
  background-color: @color8;
}}

#workspaces button.urgent {{
  background-color: @color1;
  color: @foreground;
}}

#battery.charging,
#battery.plugged {{
  background-color: @color2;
  color: @background;
}}

#battery.critical:not(.charging) {{
  background-color: @color1;
  color: @foreground;
}}

#network.disconnected {{
  background-color: @color1;
  color: @foreground;
}}
