general {
    lock_cmd = pidof hyprlock || hyprlock
    before_sleep_cmd = loginctl lock-session
    after_sleep_cmd = hyprctl dispatch dpms on
}

listener {
{{- if eq .chezmoi.hostname "archlinux" }}
    timeout = 600
{{- else }}
    timeout = 180
{{- end }}
    on-timeout = loginctl lock-session
}

listener {
{{- if eq .chezmoi.hostname "archlinux" }}
    timeout = 900
{{- else }}
    timeout = 480
{{- end }}
    on-timeout = systemctl suspend
}
